# The Data Frame
The data frame is the primary framework that you'll be dealing with in R for data analysis. A lot of the same vector rules apply, except now we're dealing in two dimensions.

It's often useful to work with single columns (ie, vectors), so a lot of the logic we went over with respect to vectors will be highly relevant when working with a single variable in a data frame.

In [1]:
## pulling in a dataset that R has sort of built in
library(MASS)
df <- ToothGrowth

The assignment operator `<-` means that the variable `df` now represents the dataset. We can index this dataset with brackets `[]` much in the same way that we indexed vectors. But the first thing to do is to run some summary functions so we can get a sense of what data we're dealing with:

In [5]:
head(df) ## print out the first few rows
summary(df) ## quick descriptives on each variable in the dataset
str(df) ## shows us the variable types
nrow(df) ## returns the number of rows in the data
colnames(df) ## returns the names of the columns as a string vector
View(df) ## view the data in a spreadsheet format

  len  supp dose
1  4.2 VC   0.5
2 11.5 VC   0.5
3  7.3 VC   0.5
4  5.8 VC   0.5
5  6.4 VC   0.5
6 10.0 VC   0.5

      len        supp         dose
 Min.   : 4.20   OJ:30   Min.   :0.500
 1st Qu.:13.07   VC:30   1st Qu.:0.500
 Median :19.25           Median :1.000
 Mean   :18.81           Mean   :1.167
 3rd Qu.:25.27           3rd Qu.:2.000
 Max.   :33.90           Max.   :2.000

'data.frame':	60 obs. of  3 variables:
 $ len : num  4.2 11.5 7.3 5.8 6.4 10 11.2 11.2 5.2 7 ...
 $ supp: Factor w/ 2 levels "OJ","VC": 2 2 2 2 2 2 2 2 2 2 ...
 $ dose: num  0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 ...

[1] 60

[1] "len"  "supp" "dose"

ERROR: Error in View(df): ‘View()’ not yet supported in the Jupyter R kernel

If we want to index out a certain value out of the data we can do so with the following format:  
`data[rows, columns]`

In [3]:
df[3,2]

[1] VC
Levels: OJ VC

One shortcut to grabbing a whole column out of the data is to use dollar sign notation `$`.  
Example: `data$column1` will return as a vector all the values in `column1`, where *column1* is the name of the actual column in the data.

In [4]:
df$len

 [1]  4.2 11.5  7.3  5.8  6.4 10.0 11.2 11.2  5.2  7.0 16.5 16.5 15.2 17.3 22.5
[16] 17.3 13.6 14.5 18.8 15.5 23.6 18.5 33.9 25.5 26.4 32.5 26.7 21.5 23.3 29.5
[31] 15.2 21.5 17.6  9.7 14.5 10.0  8.2  9.4 16.5  9.7 19.7 23.3 23.6 26.4 20.0
[46] 25.2 25.8 21.2 14.5 27.3 25.5 26.4 22.4 24.5 24.8 30.9 26.4 27.3 29.4 23.0

We can then work with this output just like you would any other vector:

In [6]:
df$len[1:5]

[1]  4.2 11.5  7.3  5.8  6.4

Notice how the code above is equivalent to indexing the whole data frame with two dimensions as below:

In [7]:
df[1:5,'len']

[1]  4.2 11.5  7.3  5.8  6.4

Whenever you reference a column in brackets like `data[rows, columns]`, you either have to refer to the column with the column number or with the column name **in quotes**. When using the dollar sign notation, you don't need to use quotes.

In [8]:
df[1:5,len]

ERROR: Error in `[.data.frame`(df, 1:5, len): object 'len' not found

If you want to index rows *or* columns and return all values on the dimension you didn't index (eg, index certain rows and return all columns), you still use a comma but just leave the slot blank that you don't wish to index over.

In [9]:
df[1:7,]

  len  supp dose
1  4.2 VC   0.5
2 11.5 VC   0.5
3  7.3 VC   0.5
4  5.8 VC   0.5
5  6.4 VC   0.5
6 10.0 VC   0.5
7 11.2 VC   0.5

In [11]:
df[,'len'] ## notice how this gets returned as a vector, not as a data frame with one column

 [1]  4.2 11.5  7.3  5.8  6.4 10.0 11.2 11.2  5.2  7.0 16.5 16.5 15.2 17.3 22.5
[16] 17.3 13.6 14.5 18.8 15.5 23.6 18.5 33.9 25.5 26.4 32.5 26.7 21.5 23.3 29.5
[31] 15.2 21.5 17.6  9.7 14.5 10.0  8.2  9.4 16.5  9.7 19.7 23.3 23.6 26.4 20.0
[46] 25.2 25.8 21.2 14.5 27.3 25.5 26.4 22.4 24.5 24.8 30.9 26.4 27.3 29.4 23.0

The crazy nesting rules that we learned about with vectors come back into play when we want to index rows of the data:

In [15]:
df[df$len > 30,] ## return whole rows of the dataset where values in the 'len' variable are greater than 30

   len  supp dose
23 33.9 VC   2
26 32.5 VC   2
56 30.9 OJ   2

Remember, if you ever forget what's going on with the nesting stuff, break it down into parts:

In [16]:
df$len

 [1]  4.2 11.5  7.3  5.8  6.4 10.0 11.2 11.2  5.2  7.0 16.5 16.5 15.2 17.3 22.5
[16] 17.3 13.6 14.5 18.8 15.5 23.6 18.5 33.9 25.5 26.4 32.5 26.7 21.5 23.3 29.5
[31] 15.2 21.5 17.6  9.7 14.5 10.0  8.2  9.4 16.5  9.7 19.7 23.3 23.6 26.4 20.0
[46] 25.2 25.8 21.2 14.5 27.3 25.5 26.4 22.4 24.5 24.8 30.9 26.4 27.3 29.4 23.0

In [18]:
df$len > 30

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[25] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE

### Coding new variables
You can use the dollar sign notation to come up with new variable names and then assign values to that variable.

To center a variable, for example:

In [22]:
df$len_c <- df$len - mean(df$len)
head(df)

  len  supp dose len_c
1  4.2 VC   0.5  -14.613333
2 11.5 VC   0.5   -7.313333
3  7.3 VC   0.5  -11.513333
4  5.8 VC   0.5  -13.013333
5  6.4 VC   0.5  -12.413333
6 10.0 VC   0.5   -8.813333

**Making if / else contingencies in coding a new variable**  
For example, I want to create a new variable that has a score of 1 if the 'len' is greater than the median of 'lens', otherwise make it have a score of 0.

In [26]:
df$len_d <- ifelse(df$len > median(df$len), 1, 0)
df[20:30,]

   len  supp dose len_c      len_d
20 15.5 VC   1    -3.3133333 0
21 23.6 VC   2     4.7866667 1
22 18.5 VC   2    -0.3133333 0
23 33.9 VC   2    15.0866667 1
24 25.5 VC   2     6.6866667 1
25 26.4 VC   2     7.5866667 1
26 32.5 VC   2    13.6866667 1
27 26.7 VC   2     7.8866667 1
28 21.5 VC   2     2.6866667 1
29 23.3 VC   2     4.4866667 1
30 29.5 VC   2    10.6866667 1

## Messing with a real dataset

In [27]:
df <- read.csv('https://davebraun.org/quant/current_data.csv')
head(df)

  direction orientation station subjective_distance
1 EAST      1           1       5
2 EAST      1           1       4
3 EAST      1           1       3
4 EAST      1           1       3
5 EAST      1           1       4
6 EAST      1           1       1